/* home page module styles index.html */
body{
	position:relative;
}

section.main{
}

.moduleCache{
    width:0px;
    height:0px;
    overflow:hidden;
    opacity:0;
    img{
        width:auto;
        height:auto;
    }
}

.module{
    width:100%;
    height:auto;
    min-height:$moduleMinHeight;
    position:relative;
    overflow:inherit;
    color:#fff;
	box-sizing:border-box;
}

.clipper{
	padding-bottom:25px;
	box-sizing:border-box;
	position:relative;
	opacity:0;
	.c2{
		-webkit-transition: max-height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-moz-transition: max-height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-o-transition: max-height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		transition: max-height 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		max-height:0px;
		overflow:hidden;
	}
	&:after{
		position:absolute;
		left:0px;
		bottom:0px;
		height:8px;
		width:160px;
		background-color:#fff;
		display:block;
		content:' ';
	}
}

article.text{
	
	height:200vh;
	
	.stickyBox{
		width:100%;
		height:100vh;
		position: -webkit-sticky;
		position: sticky;
		top:0px;
		z-index:1;

		display:flex;

		.control{
			-webkit-transition: opacity 1.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-moz-transition: opacity 1.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			-o-transition: opacity 1.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			transition: opacity 1.8s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
			opacity:0;

		}
	}
	.vm{
		/*
		-webkit-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-moz-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		-o-transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		transition: opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
		opacity:0;
		*/

		/*
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		*/

		z-index:10;
		margin:auto;

		width:600px;
		padding:0px 0% 0px 0%;
		h2,h3{
			margin:0 0 10px 0;
			font-weight:700;
			-webkit-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-o-transition: all 0.7s;
			transition: all 0.7s;
			opacity:0;
			position:relative;

			&.zerobm{
				margin-bottom:0;
			}
		}
		h2{
			font-size:42px;
			margin-bottom:30px;
		}
		p{
			font-size:18px;
			line-height:1.7em;
			margin:0 0 10px 0;
			a{
				color:#fff;
				text-decoration:none;
				font-weight:700;
				&:focus{
					text-decoration:underline;
				}
				&:hover{
					text-decoration:underline;
				}
			}
		}
		p.ptop{
			padding-top:1.7em;
		}
	}
	&.active{
		.vm{
			opacity:1;
		}
		.control{
			opacity:1;
		}
	}
	&.ta{
		.vm{
			h2:nth-of-type(1){
				-webkit-animation: 1s linear 0s 1 forwards headingslidein;
				-moz-animation: 1s linear 0s 1 forwards headingslidein;
				-ms-animation: 1s linear 0s 1 forwards headingslidein;
				animation: 1s linear 0s 1 forwards headingslidein;
			}
			h3{
				-webkit-animation: 1s linear 0.5s 1 forwards headingslidein;
				-moz-animation: 1s linear 0.5s 1 forwards headingslidein;
				-ms-animation: 1s linear 0.5s 1 forwards headingslidein;
				animation: 1s linear 0.5s 1 forwards headingslidein;
			}
			h2:nth-of-type(2){
				-webkit-animation: 1s linear 0.5s 1 forwards headingslidein;
				-moz-animation: 1s linear 0.5s 1 forwards headingslidein;
				-ms-animation: 1s linear 0.5s 1 forwards headingslidein;
				animation: 1s linear 0.5s 1 forwards headingslidein;
			}
			.clipper{
			    -webkit-animation: 1s linear 1s 1 forwards clipperFadeIn;
			    -moz-animation: 1s linear 1s 1 forwards clipperFadeIn;
			    -ms-animation: 1s linear 1s 1 forwards clipperFadeIn;
			    animation: 1s linear 1s 1 forwards clipperFadeIn;
				.c2{
					-webkit-animation: 1s linear 1.5s 1 forwards clipperOpen;
					-moz-animation: 1s linear 1.5s 1 forwards clipperOpen;
					-ms-animation: 1s linear 1.5s 1 forwards clipperOpen;
					animation: 1s linear 1.5s 1 forwards clipperOpen;
				}
			}
		}
	}
}


article.work{
	height:auto;
}

article.capabilities{
	height:auto;
	h2.colourScheme{
		color:$colourBlue;
	}
}

ul.position{
	width:4px;
	padding:0;
    position:fixed;
    right:24px;
    top:50%;
    margin-top:-120px;
    z-index:50;
    @include transopacity();
    &.showp{opacity:1;}
    &.hidep{opacity:0.75;}
    li{
        background-color:#fff;
        display:block;
        width:4px;
        height:18px;
        text-indent:-9999em;
        overflow:hidden;
        margin:0 0 8px 0;
        @include trans();
        opacity:0.33;
        &.on{
	        opacity:0.95;
        }
    }
    @media screen and (max-width: 768px) {
        &{
            right:8px;
        }
    }
}

@media screen and (max-width: 768px) {
	br.deskbr{display:none;}
	br.mobbr{display:block;}
}

#text1{
	.stickyBox{
		.vm{
			text-align:center;
			width:760px;
			h2{
				font-size:53px;
				margin-bottom:30px;
			}
			h3{
				margin-bottom:0;
				font-size:20px;
			}
			p{
				font-size:18px;
				margin-bottom:0px;
				span{
					color:#95d600;
					font-weight:700;
				}
			}
		}
	}
	.clipper{
		&:after{
			left:50%;
			transform: translate(-50%,0);
			background-color:#95d600;
		}
	}
}

#text5{
	.clipper{
		a.l1{
			color:#95d600;
		}
		a.l2{
			color:#67b2e8;
		}
		a.l3{
			color:#e19cdf;
		}
		&:after{
			display:none;
		}
	}
}

section.rules{
    min-height:$moduleMinHeight;
    overflow:inherit;
    color:#fff;
	box-sizing:border-box;

	width:100%;
	height:600vh;
	position:relative;

	div.videobg{
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		width:100%;
		height:100%;
		overflow:inherit;
		padding:0px;
		box-sizing:border-box;

		div.fillScreenBox{
			width:100%;
			height:100vh;
			position: -webkit-sticky;
			position: sticky;
			top:0px;
			overflow:hidden;

			.newsprint{
				position:absolute;
				left:0%;
				top:0%;
				width:100%;
				height:100vh;
				z-index:2;
				background-image:url('img/halftone.png');
				background-repeat:repeat;
				opacity:0.5;
			}
			video{
				opacity:0.5;
				position:absolute;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
	  			min-height: 100%;
	  			z-index:1;
	  		}
		}
	}
	.rulesBox{
		/* position:absolute; */
		position:relative;

		right:0;
		top:0;
		z-index:2;

		width:100%;
		height:100%;
		opacity:1;

		article.rule{
			width:100%;
			height:200vh;
			overflow:inherit;
			box-sizing:border-box;
			padding:0px;

			.stickyBox{
				width:100%;
				height:100vh;
				position: -webkit-sticky;
				position: sticky;
				top:0px;
				font-size:5em;

				display:flex;

				.vm{
					color:#fff;
					overflow:hidden;
					height:auto;
					box-sizing:border-box;
					padding:20px 30px 20px 0px;
					display:flex;
					background-color:rgba(0,0,0,0.85);
					width:100%;
					margin:auto 0 auto 0;

					.text{
						flex:5;
						.clipper{
							opacity:1;
							.c2{
								max-height:50em;
							}
						}
					}
					h2{
						font-size:22px;
						line-height:1em;
						font-weight:700;
						margin:0px 0px 10px 0px;
						&.zerobm{
							margin-bottom:0;
						}
					}
					p{
						font-size:12px;
						line-height:1.4em;
						margin:0 0 10px 0;
					}					

					@media screen and (min-width:980px) and (min-height:600px) {
						&{
							width:75%;
							max-width:1000px;
							margin:auto auto auto 0;
							padding-right:20px;
							.text{
								flex:4;
								h2{
									font-size:53px;
								}
								p{
									font-size:18px;
								}
							}
						}
					}

					@media screen and (orientation: landscape) and (max-height:650px) and (min-width:1000px) {
						&{
							padding:20px 30px 20px 20px;
							width:100%;
							h2{
								font-size:26px;
								line-height:0.75em;
							}
							p{
								font-size:12px;
							}
						}
					}					
				}
			}
			&#rule1{
				.vm{
					padding:40px 30px 40px 0px;

					.numeral{
						order:1;
					}
					.text{
						order:2;
						.clipper:after{
							background-color:#67b2e8;
						}
					}
				}
			}
			&#rule2{
				.vm{
					padding:40px 30px 40px 40px;
					margin:auto 0 auto auto;
					.numeral{
						order:2;
					}
					.text{
						order:1;
						.clipper:after{
							background-color:#ffb819;
						}
					}
				}
			}
			&#rule3{
				.vm{
					padding:40px 30px 40px 0px;
					.numeral{
						order:1;
					}
					.text{
						order:2;
						.clipper:after{
							background-color:#cc99cc;
						}
					}
				}
			}
			&.ta{
				.stickyBox{
					/* background-color:rgba(255, 0, 0, 0.5); */
				}
			}
		}
	}
}

@media screen and (orientation: landscape) and (min-height:650px) and (min-width:1000px) {
	section.rules{
		.rulesBox{
			article.rule{
				.stickyBox{
					.vm{
						.numeral{
							svg{
								top:-38px;
							}
						}
						.text{
							p{
								font-size:18px;
							}
						}
					}
				}
			}
		}
	}
}

/*
@media screen and (orientation: portrait) and (min-width:320px) {
	section.rules{
		.rulesBox{
			article.rule{
				.stickyBox{
					.vm{
						.numeral{
							svg{
								top:-36px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (orientation: portrait) and (min-width:375px) {
	section.rules{
		.rulesBox{
			article.rule{
				.stickyBox{
					.vm{
						.numeral{
							svg{
								top:-28px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (orientation: portrait) and (min-width:414px) {
	section.rules{
		.rulesBox{
			article.rule{
				.stickyBox{
					.vm{
						.numeral{
							svg{
								top:-24px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (orientation: portrait) and (min-width:640px) {
	section.rules{
		.rulesBox{
			article.rule{
				.stickyBox{
					.vm{
						.numeral{
							svg{
								top:-10px;
							}
						}
					}
				}
			}
		}
	}
}
*/

.numeral{
	text-align:center;
	/*flex:1;*/
	width:130px;
	overflow:hidden;
	.numeralCLipper{
		-webkit-transition: all 0.7s;
		-moz-transition: all 0.7s;
		-o-transition: all 0.7s;
		transition: all 0.7s;
		overflow:hidden;
		position:relative;
		width:0px;
		height:130px;
		svg{
			-webkit-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-o-transition: all 0.7s;
			transition: all 0.7s;
			position:absolute;
			top:-10px;
			width:130px;
			height:130px;
		}
	}
}
.ta{
	.numeral{
		.numeralCLipper{
			width:130px;
			svg{
			}
		}
	}
}

@media screen and (min-width:980px) and (min-height:600px) {
	.numeral{
		width:330px;
		position:relative;
		.numeralCLipper{
			height:330px;
			width:0px;
			svg{
				top:-10px;
				width:330px;
				height:330px;
			}
		}
	}
	.ta{
		.numeral{
			.numeralCLipper{
				width:330px;
				svg{
					width:330px;
				}
			}
		}
	}
}

#rule1,#rule3{
	.numeral{
		.numeralCLipper{
			margin-left:0;
			margin-right:auto;
			svg{
				left:-50px;
				opacity:0;
			}
		}
	}
	&.ta{
		.numeralCLipper{
			svg{
				left:0px;
				opacity:1;
			}
		}
	}
}

#rule2{
	.numeral{
		.numeralCLipper{
			margin-left:auto;
			margin-right:0;
			svg{
				right:-50px;
				opacity:0;
			}
		}
	}
	&.ta{
		.numeralCLipper{
			svg{
				right:0px;
				opacity:1;
			}
		}
	}
}

@media screen and (max-width:480px) {
	#rule1,#rule3{
		.control{
			&.scrollDown{
				left:0px;
				right:auto;
				width:130px;
				margin-left:0;
			}
		}
	}	
	#rule2{
		.control{
			&.scrollDown{
				left:auto;
				right:0px;
				width:130px;
				margin-left:0;
			
			}
		}
	}	
}