/* home page business/consuemr work buttons near end of home page index.html */
article.work{
	.branchButtonContainer{
		padding-top:12.5vh;
		padding-bottom:12.5vh;
		width:100%;
		&:after{
			content:" ";
			display:block;
			clear:both;
			float:none;
		}
	}
	.branch{
		display:table;
		float:left;
		box-sizing:border-box;
		width:100%;
		padding:5px;
		box-sizing:border-box;
		.pad{
			width:100%;
			height:77.8%;
			box-sizing:border-box;
			padding-top:50%;
			position:relative;
			overflow:hidden;
		}
		.frame{
			width:100%;
			height:100%;
			min-height:100%;
			position:absolute;
			left:0;
			top:0;
			z-index:10;
			.zoomFrame{
				@include transTransform();
				@include transformScale(1);
				width:100%;
				height:100%;
				min-height:100%;
				background-position:50% 50%;
				background-size:cover;
				background-repeat:no-repeat;
				opacity:0.5;
				img{display:none;}
			}
		}
		.caption{
			width:100%;
			text-align:center;
			position:absolute;
			left:0;
			top:50%;
			transform: translateY(-50%);
			z-index:20;
			opacity:1;
			display:table-cell;
			h3{
				font-size:2.8em;
				font-weight:$fontBlack;
				margin:0;
			}
			h4{
				/*
				font-size:3em;
				font-weight:$fontExtraBold;
				margin:0 0 20px 0;
				color:#fff;
				*/
				img,svg{
					width:144px;
					height:39px;
				}
			}
			p{
				display:inline;
				padding-bottom:0em;
				width:auto;
				font-size:1.2em;
				font-weight:$fontBlack;
				color:#fff;
				border-width:0 0 6px 0;
				border-style:solid;
				border-color:#fff;
				/*
				&:after{
					content:" ";
					display:block;
					height:10px;
					width:100%;
					background-color:#f00;
				}
				*/
			}
		}
		a.overlay{
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			z-index:30;
			opacity:0;
			text-indent:-9999em;
			overflow:hidden;
		}
		&:hover{
			.frame{
				.zoomFrame{
					@include transformScale(1.2);
				}
			}
			.caption{
				opacity:1;
			}
		}
		&.consumerBranch{
			.caption{
				h3{
					/*color:#95d600;*/
				}
				p{
					border-color:#95d600;
				}
			}
		}
		&.businessBranch{
			.caption{
				h3{
					/*color:#67b2e8;*/
				}
				p{
					border-color:#67b2e8;
				}
			}
		}
		@media screen and (min-width: 640px) {
			&{
				padding:30px;
				width:50%;
				.pad{
					padding-top:77.8%;
				}
				.caption{
					h3{
						font-size:3.2em;
					}
				}
			}
		}
		@media screen and (min-width: 768px) {
			&{
				.caption{
					h3{
						font-size:3.8em;
					}
					h4{
						svg{
							width:180px;
							height:48px;
						}
					}
					p{
						font-size:1.4em;
					}
				}
			}
		}
	}
}