/* home page first panel video - SVG placeholder with colour change and opacity fade to reveal autoplay looped video index.html */
#module00{
	position:relative;
	height:100vh;
	min-height:600px;
	@media screen and (orientation: landscape) and (max-width: 1200px) {
		min-height:inherit;
	}
	.placeholder,.placeholder2,.vpos{
		position:absolute;
		left:0;
		top:50%;
		transform: translateY(-50%);
		text-align:center;
		width:100%;
	}
	p{
		color:#fff;
		margin:0px;
		font-size:1.8em;
		font-weight:$fontBold;
		padding:0 0%;
		opacity:1;
		@include transopacity2(2s);
	}

	.placeholder,.placeholder2{
		/* @include transopacity2(2s); */
		opacity:1;
		svg{
			width:75.5%;
			margin:1% auto 0% auto;
			path{
				fill:#fff;
			}
		}
		img{
			display:block;
			width:76%;
			margin:0.5% auto 0% auto;
		}
	}
	.placeholder{z-index:11;}
	.placeholder2{
		&.playing{
			opacity:0;
		}
		z-index:10;
		svg{
			path{
				fill:#2c9fcb;
			}
		}
	}

	.vpos{
		z-index:5;
		.vpos2{
			position:relative;
			padding:50px 0;
			#hv{
				/*
				padding:16.25% 0 0 0;
				width:75%;
				*/
				padding:16.3% 0 0 0;
				width:72.3%;
				margin:0 auto;
				position:relative;
				video{
					position:absolute;
					left:0px;
					top:0px;
					@include transopacity2(2s);
					opacity:0;
					display:block;
					width:100%;
					/* width:100%; min-height:100%; object-fit:contain; */
				}
				img.hpimg{
					position:absolute;
					left:0px;
					top:0px;
					width:100%;
				}
			}
			p{
				opacity:1;
				position:absolute;
				left:0;
				width:100%;
				top:90%;
				z-index:1;
				font-size:34px;
				font-weight:700;
				padding:0 10%;
				@media screen and ( max-width : 820px ) {
					&{
						font-size:3vw;
					}
				}
				@media screen and ( min-width : 420px ) {
					&{
					}
				}
			}
		}
	}
	&.ready{
		.placeholder{
			/* opacity:0; */
			/**/
			animation-delay:2s;
		    animation-name: fadeout;
		    animation-duration:1s;
		    animation-fill-mode: forwards;
		    /**/
			svg{
				path{
				    animation-name: whitetoblue;
				    animation-duration: 2s;
				    animation-fill-mode: forwards;
				}
			}
		}
		.vpos{
			.vpos2{
				/*
				p{
				    animation-name: example;
				    animation-duration: 2s;
				    animation-delay:1s;
				    animation-fill-mode: forwards;
				}
				*/
				#hv{
					video{
						opacity:1;
					}
				}
			}
		}
	}
}

.control{
    position:absolute;
    z-index:5;
    &.scrollDown{
        left:50%;
        bottom:-30px;
        margin-left:-100px;
        width:200px;
        height:120px;
        text-indent:999em;
        overflow:hidden;
        background-repeat:no-repeat;
        background-position:center 20px;
        /*
	    -webkit-animation:bounce 1s linear infinite;
	    -moz-animation:bounce 1s linear infinite;
	    -ms-animation:bounce 1s linear infinite;
	    animation:bounce 1s linear infinite;
	    */
    }
}

/* placeholder keyframe animation */
@keyframes whitetoblue {
  from {
  	fill:#fff;
  }

  to {
  	fill:#2c9fcb;
  }
}

@keyframes fadeout {
  from {
  	opacity:1;
  }

  to {
  	opacity:0;
  }
}

@keyframes example {
    0%   {opacity:0;}
    100% {opacity:1;}
}
