.callbackThanks{
	header{
		h1{
			font-size:3em;
		    @media screen and (max-width: 768px) {
		        &{
		            font-size:2em;
		        }
		    }

		}
	}
	.textBlock{
		p{
		    @media screen and (min-width: 990px) {
		        &{
		        	max-width:990px;
		        	width:100%;
				}
			}		
		}
	}
	.clicks{
		list-style-type:none;
		padding:0 10%;
		width:100%;
		li{
			border-top:1px solid #fff;
			padding:0.5em 0 0 0;
			&:first-child{
				border-top:0px;
			}
			p{
				font-size:1em;
				margin:0 0 0.5em 0;
				padding:0;
			}
		}
	}
	.inline{
        overflow:hidden;
		img{
			/*
			-webkit-transform:scale(1.5);
			-ms-transform:scale(1.5);
			transform:scale(1.5);
			*/
		}
	    @media screen and (min-width: 990px) {
	        &{
	            position:relative;
	            height:290px;
	            width:100%;
	            img{
	            	position:absolute;
	            	left:50%;
	            	top:50%;
	            	width:100%;
	            	height:auto;
	            	-webkit-transform:scale(1.1) translate(-47%,-40%);
	            	-ms-transform:scale(1.1) translate(-47%,-40%);
	            	transform:scale(1.1) translate(-47%,-40%);
	            }
	        }
	    }
	}
}
