.clients{
	.clientlist{
		
		width:210px;
		width:100%;
		margin:0 auto;
		display:flex;
		flex-wrap:wrap;

		&:after{
			content: " ";
			display:block;
			clear:both;
			float:none;
		}
		article{
			display:inline-block;
			float:left;
			width:100%;
			padding:0 10px 10px 10px;
			box-sizing:border-box;

			&.brokenImage{
				.pad{
					.logo{
						background-color:#4f4f4f;
					}
				}
			}
			.pad{
				margin:0 auto;
				width:190px;
				width:100%;
				height:190px;
				
				position:relative;
				overflow:hidden;
				.logo{
					position:absolute;
					left:0px;
					top:0px;
					z-index:1;
					width:100%;
					height:190px;
					background-position:50% 50%;
					background-repeat:no-repeat;
				}
				.info{
					padding:12px;
					box-sizing:border-box;

					position:absolute;
					left:0px;
					top:0px;
					z-index:2;
					border:1px solid #353535;

					background-color:#000;
					width:100%;
					height:188px;
					opacity:0;
					@include trans2(1s);
					h2{
						margin:0;
						color:#fff;
						font-weight:$fontBold;
						font-size:1em;
						position:relative;
						margin-bottom:3px;
						padding-bottom:9px;
						&:after{
							content:" ";
							width:50px;
							height:4px;
							display:block;
							background-color:$colourYellow;
							position:absolute;
							left:0px;
							bottom:0px;
						}
					}
					p{margin:0;color:#fff;font-size:1em;}
				}
				a.focus{
					position:absolute;
					left:0px;
					top:0px;
					z-index:3;
					width:100%;
					height:100%;
					display:block;
					background-color:#ff0000;
					overflow:hidden;
					text-indent:9999em;
					opacity:0;
					/*
					&:focus{
					}
					&:focus ~ .info{
						opacity:1;
					}
					*/
					display:none;
				}
			}
			&.active{
				.pad{
					.info{
						opacity:1;
					}
				}
			}
		}
		@media screen and (min-width: 430px) {
			/* two items 210 x 2 */
			&{
				width:420px;
				article{
					width:210px;
					padding:0 10px 20px 10px;
					.pad{
						width:190px;
						.logo{width:190px;}
						.info{width:188px;}
					}
				}
			}
		}
		@media screen and (min-width: 640px) {
			/* three items 210 x 3 - lr1 0 lr2 210*/
			&{
				width:630px;
				.lr1{
					margin-left:0px;
				}
				.lr2{
					margin-left:210px;
				}
			}
		}
		@media screen and (min-width: 850px) {
			/* four items 210 x 4 - lr1 210 lr2 0*/
			&{
				width:840px;
				.lr1{
					margin-left:210px;
				}
				.lr2{
					margin-left:0px;
				}
			}
		}
		@media screen and (min-width: 1060px) {
			/* five items 210 x 5 - lr1 210 * 1.5 lr2 0*/
			&{
				width:1050px;
				.lr1{
					margin-left:315px;
				}
			}
		}
	}
}

/* .js{ */
	.clients{
		.clientlist{
			article{
				opacity:0;
				@include trans2(1s);

				&.ready{
					opacity:1;
				}
			}
		}
	}
/* } */