.contact{
	.textBox{
		text-align:center;
		color:#fff;
		padding-bottom:120px;
		h2{
			font-size:2.5em;
			font-weight:$fontExtraBold;
			margin-bottom:0;
		}
		address{
			font-size:1.6em;
			font-weight:$fontBold;
			a{color:#fff;text-decoration:none;}
		}
		.row{
			width:90%;
			margin:0 auto;
			.col{
				@include make-xs-column(12);
				@include make-sm-column(6);
				h3{
					font-size:1em;
				}
				a{display:block;font-size:1.2em;}
			}
			.general{
				a{color:$colourYellow;}
			}
			.newbusiness{
				a{color:$colourBlue;}
			}

		    &.socialmedia{
		        padding:20px 0px 20px 0px;
		        display:block;
		        float:none;
		        text-align:center;
		        clear:left;
		        p{
		        	display:block;
		        	margin:0 auto 12px auto;
		        }
		        a{
		            width:27px;
		            height:27px;
		            overflow:hidden;
		            text-indent:-9999em;
		            background-repeat:no-repeat;
		            background-position:left top;
		            display:inline-block;
		            float:none;
		            vertical-align:middle;
		            &.twitter{
		                /* background-image:url('../img/twitter.png'); */
		                margin-right:12px;
		            }
		            &.linkedin{
		                /* background-image:url('../img/linkedin.png'); */
		                margin-right:12px;
		            }
		            &.instagram{
		                /* background-image:url('../img/unstagram.png'); */
		            }
		        }
		        @media screen and (min-width: $footerBreak01) {
		        	&{
				        p{
				        	display:inline-block;
				        	margin:0 12px 0 0;
				        }
		        	}
		        }
		    }
		}
	}
	.map{
		@include trans2(0.3s);
		opacity:0;
		width:100%;
		height:600px;
		background-repeat:no-repeat;
		background-position:50% 0px;
		&.ready{
			opacity:1;
		}
	}
}