footer{
    box-sizing:border-box;
    width:100%;
    height:auto;
    padding:28px 42px;
    
    img.stack{
        display:block;
        margin:0 0 10px 0;
    }
    img,svg{
        width:133px;
        height:36px;
        margin-bottom:20px;
    }
    section.address{
        display:block;
        float:none;
        width:100%;
        text-align:center;
        h2,p,address,a{color:#fff;margin:0;padding:0;}
        h2{
            font-weight: $fontSemiBold;
            font-size:12px;
            margin:0 0 10px 0;
            line-height:120%;
            span{color:#67b2e8;}   
        }
        address{
            font-style:normal;
            font-weight:$fontLight;
            font-size:12px;
        }
        p{
            font-weight:$fontLight;
            font-size:12px;
            &.sublinks{
                margin-top:1em;
            }
        }
        a{
            font-weight:$fontLight;
            font-size:12px;
            text-decoration:none;
            cursor:pointer;
            &:hover{
                text-decoration:underline;
            }
        }
        /*640*/
        @media screen and (min-width: $footerBreak01) {
            &{
                display:inline-block;
                float:left;
                width:auto;
                text-align:left;
            }
        }
    }
    aside.socialmedia{
        padding:20px 0px 20px 0px;
        display:block;
        float:none;
        text-align:center;
        clear:left;
        a{
            width:27px;
            height:27px;
            overflow:hidden;
            text-indent:-9999em;
            background-repeat:no-repeat;
            background-position:left top;
            display:inline-block;
            float:none;
            &.twitter{
                /* background-image:url('../img/twitter.png'); */
                margin-right:12px;
            }
            &.linkedin{
                /* background-image:url('../img/linkedin.png'); */
                margin-right:12px;
            }
            &.instagram{
                /* background-image:url('../img/unstagram.png'); */
            }
        }

        /*640*/
        @media screen and (min-width: $footerBreak01) {
            &{
                padding:0px;
                display:inline-block;
                float:right;
                clear:none;
                a{
                    float:left;
                }
            }
        }
    }
}

.homepage{
    footer{
        section.git{
            text-align:center;
            padding-bottom:20px;
            h2,p,address,a{color:#fff;margin:0;padding:0;}
            h2{
                font-weight: $fontSemiBold;
                color:$colourBlue;
                font-size:1.6em;
                margin:0 0 10px 0;
                line-height:120%;
                span{color:#67b2e8;}   
            }
            p{
                font-weight:$fontLight;
                font-size:1.3em;
                &.sublinks{
                    margin-top:1em;
                }
            }
            a{
                font-weight:$fontLight;
                font-size:1.3em;
                text-decoration:none;
                cursor:pointer;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
        @media screen and (orientation: portrait) and (max-width: 640px) {
            &{
                padding-left:10px;
                padding-right:10px;
                section.git{

                    a{
                        font-size:1.1em;
                    }
                }
            }
        }
    }
}