div.grid{
	padding:5vh 5vw;
	width:500px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	box-sizing:border-box;
	div.cell{
		width:12.5%;
		display:inline-block;
		float:left;
		padding:2px;
		box-sizing:border-box;
		div{
			width:100%;
			padding-top:100%;
			background-color:#3f3f3f;
			@include bgcolortrans(0.5s);
			border-radius:50%;
			position:relative;
			p{
				position:absolute;
				left:0%;
				top:10%;
				margin:0;
				font-size:2em;
				width:100%;
				text-align:center;
			}
		}
		&:hover,
		&.alive{
			div{
				background-color:#ff0000;	
			}
		}
		&.test{
			div{
				background-color:#00ff00;	
			}
		}
	}
}