header.page{
	position:fixed;
	right:0;
	top:0;
	z-index:1100;
	.trigger{
		cursor:pointer;
		position:fixed;
		z-index:1000;
		right:0;
		top:0px;
		width:63px;
		height:57px;
		padding:10px 0 0 10px;
		box-sizing:border-box;
		div.button{
			position:relative;
			width:43px;
			height:37px;
			div{
				@include trans2(0.8s);
				position:absolute;
				top:16px;
				width:43px;
				height:5px;
				background-color:#fff;
				opacity:1;
			}
			&:before{
				@include trans2(0.8s);
				content:" ";
				display:block;
				position:absolute;
				top:0px;
				width:43px;
				height:5px;
				background-color:#fff;
				@include transformRotate(0deg);
			}
			&:after{
				@include trans2(0.8s);
				content:" ";
				display:block;
				position:absolute;
				top:32px;
				width:43px;
				height:5px;
				background-color:#fff;
				@include transformRotate(0deg);
			}
		}
	}
	.menu{
		@include trans2(0.8s);
		width:250px;
		width:100%;
		height:100vh;
		position:fixed;
		top:-2000px;
		right:0px;
		z-index:100;
		box-sizing:border-box;
		padding:0px 0px 0px 0px;
		background-color:rgba(0,0,0,0.8);	

		.logobox{
			position:relative;
			.logo{
				position:absolute;
				left:10px;
				top:10px;
				svg,img{
			        width:133px;
			        height:36px;
				}
			}
		   	div.address{
	            display:none;
		        h2,p,address,a{color:#fff;margin:0;padding:0;}
		        h2{
		            font-weight: $fontSemiBold;
		            font-size:12px;
		            margin:0 0 10px 0;
		            line-height:120%;
		            span{color:#67b2e8;}   
		        }
		        address{
		            font-style:normal;
		            font-weight:$fontLight;
		            font-size:12px;
		        }
		        p{
		            font-weight:$fontLight;
		            font-size:12px;
		        }
		        a{
		            text-decoration:none;
		            cursor:pointer;
		            &:hover{
		                text-decoration:underline;
		            }
		        }
		        @media screen and (min-width: 768px) {
		            &{
		            	display:inline-block;
			            float:left;
			            width:auto;
			            text-align:left;
			            clear:left;
			            margin:90px 0 0 30px;
		            }
		        }
		    }
		}
		nav{
			margin-top:63px;
			padding-right:50px;
			display:inline-block;
			float:right;
			&:after{
				content:" ";
				clear:both;
				float:none;
				display:block;
			}
			a{
				font-weight:$fontExtraBold;
				font-size:1.3em;
				color:#fff;
				text-decoration:none;
				outline:none;
				border:0;
				text-align:right;
				display:inline-block;
				float:right;
				clear:right;
				padding-bottom:0px;
				border-bottom:6px solid rgba(0,0,0,0);
				margin-bottom:6px;
				&:hover,&:focus{
					border-bottom:6px solid $colourBlue;
				}
			}
		}	
		aside.socialmedia{
			text-align:right;
			margin:0 50px 0 auto;
			float:right;
			clear:right;
	        a{
	            width:27px;
	            height:27px;
	            overflow:hidden;
	            text-indent:9999em;
	            display:inline-block;
	            float:right;
	            background-repeat:no-repeat;
	            background-position:left top;
	            &.twitter{
	                margin-right:12px;
	            }
	            &.linkedin{
	            	margin-right:12px;
	            }
	            &.instagram{}
	        }
		}
	}
	&.open{
		.trigger{
			div.button{
				div{
					opacity:0;
				}
				&:before{
					top:16px;
					@include transformRotate(45deg);
				}
				&:after{
					top:16px;
					@include transformRotate(-45deg);
				}
			}
		}
		.menu{
			top:0px;
		}
	}
}

.casestudy,.workindex,.branch,.newsindex,.newsitem,.genericText,.clients,.contact,.people,.sitemap,.page404,.callbackThanks{
	header.page{
		padding:30px;
		width:100%;
		height:90px;
		min-height:auto;
		z-index:110;
		background-color:rgba(0,0,0,0.8);
		.logo{
			float:left;
			position:relative;
			left:0px;
			top:0px;
			z-index:200;
			img,svg{
				width:133px;
				height:36px;
			}
		}
		.trigger{
			padding:27px 30px 0 0px;
			background-color:transparent;
		}
		.menu{
			.logobox{
				.address{
					margin:0 0 0 30px;
				}
			}
			nav{
				margin-top:0px;
			}
		}
		&.open{
			.menu{
				top:90px;
			}
		}
	}
}

.colourSchemeBlue{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:hover,&:focus{
							border-bottom:6px solid $colourBlue;
						}
					}
				}
			}
		}
	}
}
.colourSchemeGreen{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:hover,&:focus{
							border-bottom:6px solid $colourGreen;
						}
					}
				}
			}
		}
	}
}
.colourSchemePurple{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:hover,&:focus{
							border-bottom:6px solid $colourPurple;
						}
					}
				}
			}
		}
	}
}
.colourSchemeYellow{
	header.page{
		.menu{
			nav{
				div.item{
					a{
						&:hover,&:focus{
							border-bottom:6px solid $colourYellow;
						}
					}
				}
			}
		}
	}
}

/* stack nav menu in two columns to accommodate landscape orientation with less vertical space */ 
@media screen and (orientation : landscape) and (max-height: 500px){
	header.page{
		.menu{
			nav{
				width:450px;
				margin-top:70px;
				.group{
					&.fl{
						float:left;
						width:60%;
					}
					&.fr{
						float:right;
						width:40%;
					}
					display:inline-block;					
					text-align:right;
					a{
						float:right;
						clear:right;
					}
				}
			}
		}
	}
}