.sitemap{
	.taxonomy{
		a{
			color:#fff;
			font-size:1.5em;
			font-weight:$fontLight;
			display:block;
			margin:0;
		}
		width:50%;
		margin:0 auto;
		list-style-type:none;
		padding-left:0;
		text-align:left;
		li{
			margin-bottom:1em;
			a{
				text-transform:uppercase;
				font-weight:$fontBold;
			}
			ul{
				list-style-type:none;
				padding-left:0;
				margin-left:1em;
				li{
					margin-bottom:0.25em;
					a{
						font-weight:$fontLight;
					}
				}
			}
		}
	}
}