.workindex{
	header.work{
		text-align:center;
		width:100%;
		box-sizing:border-box;
		padding:142px 0 23px 0;
		h1{
			font-size:4em;
			color:#fff;
			font-weight:$fontBlack;
			margin:0;
			@media screen and (min-width: 640px) {
				&{
					font-size:6.8em;
				}
			}
		}
	}

	#fixerWork{
		.fixerItem{
			overflow:hidden;
			h2{
				@include trans2(1s);	
				@include transformScale(0);
			}
		}
		&.go{
			.fixerItem{
				h2{
					@include transformScale(1);
				}
			}
		}
	}
}

.colourSchemeBlue{
	.textBlock{
		h3.colourScheme{
			color:$colourBlue;
		}
		hr{
			background-color:$colourBlue;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourBlue;
					}
				}
			}
		}
	}
}
.colourSchemeGreen{
	.textBlock{
		h3.colourScheme{
			color:$colourGreen;
		}
		hr{
			background-color:$colourGreen;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourGreen;
					}
				}
			}
		}
	}
}
.colourSchemePurple{
	.textBlock{
		h3.colourScheme{
			color:$colourPurple;
		}
		hr{
			background-color:$colourPurple;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourPurple;
					}
				}
			}
		}
	}
}
.colourSchemePurple2{
	.textBlock{
		h3.colourScheme{
			color:$colourPurple2;
		}
		hr{
			background-color:$colourPurple2;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourPurple2;
					}
				}
			}
		}
	}
}
.colourSchemeYellow{
	.textBlock{
		h3.colourScheme{
			color:$colourYellow;
		}
		hr{
			background-color:$colourYellow;
		}
	}
	.workButtonContainer{
		.control{
			a.viewmore{
				&:hover{
					&:after{
						background-color:$colourYellow;
					}
				}
			}
		}
	}
}
